src/main/mule/store-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd ">
    <apikit:config name="store-api-config" api="store-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="store-api-main">
        <http:listener path="/api/*" config-ref="store-api-httpListenerConfig">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="store-api-config" />
		<error-handler ref="error-e-Error_Handler" />
        
    </flow>
    <flow name="put:\customer:store-api-config">
        <flow-ref doc:name="calling updating-Customer-flow" doc:id="fd01b9d9-2685-40a0-96db-99cd2bc84c08" name="updating-Customer-flow" />
    </flow>
    <flow name="put:\product:store-api-config">
        <flow-ref doc:name="calling updating-Product-flow" doc:id="028b744f-82a7-4e0b-9b85-f61b38dc09fe" name="updating-Product-flow" />
    </flow>
    <flow name="delete:\customer:store-api-config">
        <flow-ref doc:name="calling deleteCustomer_Flow" doc:id="d510774c-1242-4378-b9e8-865cc24fc57c" name="deleteCustomer_Flow" />
    </flow>
    <flow name="delete:\product:store-api-config">
        <flow-ref doc:name="calling delete-Product-flow" doc:id="759058e2-a35d-46d7-a3a3-a7b0dca5670c" name="delete-Product-flow" />
    </flow>
    <flow name="get:\customer:store-api-config">
        <flow-ref doc:name="calling fetching-customerDetails-flow" doc:id="b42294bd-cf91-41ba-8099-53d3e65f2bd6" name="fetching-customerDetails-flow" />
    </flow>
    <flow name="get:\product:store-api-config">
        <flow-ref doc:name="calling fetching-ProductData-flow" doc:id="7318d221-a282-4011-8e55-f87a06c138ae" name="fetching-ProductData-flow" />
    </flow>
    <flow name="get:\transaction:store-api-config">
        <flow-ref doc:name="calling fetchTransactionDetails_Flow" doc:id="54755414-d874-445b-a7fd-7c720fd0fc2c" name="fetchTransactionDetails_Flow" />
    </flow>
    <flow name="post:\customer:application\json:store-api-config">
        <flow-ref doc:name="calling insertingCustomer-flow" doc:id="c27b8bb6-756a-4122-8db7-e0b5a6a651ec" name="insertingCustomer-flow" />
    </flow>
    <flow name="post:\product:application\json:store-api-config">
        <flow-ref doc:name="calling inserting-ProductData-flow" doc:id="c74aea19-1325-44bb-913b-62479f4b63cb" name="inserting-ProductData-flow" />
    </flow>
    <flow name="get:\transactionReport:store-api-config">
		<flow-ref doc:name="calling transactionReport_Flow" doc:id="d0b40ad7-4286-49f1-beb5-01c9d29d151b" name="transactionReport_Flow"/>
    </flow>
</mule>
